%svg-common {
	background: url("../img/svg/sprite-bc22795e.svg") no-repeat;
}

.svg__i {
	@extend %svg-common;
	background-position: 0 0;
	width: 163.299px;
	height: 157.826px;
}

.svg__i2 {
	@extend %svg-common;
	background-position: 0 41.253263707571804%;
	width: 205px;
	height: 246px;
}

.svg__i3 {
	@extend %svg-common;
	background-position: 0 100%;
	width: 225px;
	height: 225px;
}

