@import "./reset";
@import "./fonts";
@import "./settings";
@import "./sprite";

/*====================================================
|					STYLE MAP  					     |
======================================================

1. HEADER
2. MAIN
3. FOOTER

==================================================*/

 





/*1. HEADER*/
/*==================================================*/
.header{
	position: relative;
	.container{
		padding: 50px;
	}
	&__slider{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	&__mainHeader{
		position: relative;
		color: #fff;
		text-align: right;
	}
	&__h1{
		font-size: 220px;
		text-transform: uppercase;
		font-weight: 100;
		margin: 15% 0 0 0;
	}
	&__h2{
		font-size: 64px;
		font-weight: bold;
	}
	&__nav{
		position: fixed;
		z-index: 100;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.8);
		display: flex;
		transform: translateX(0%);
		transition: all 1.4s;
		transition-timing-function: ease-out;
	}
	&__menu{
		margin: auto;
	}
	&__menuLink{
		font-size: 50px;
		color: #626262;
		text-transform: uppercase;
		font-weight: bold;
		margin: 20px;
		transition: all .3s;	
		display: block;
		letter-spacing: 2px;
		&:hover{
			transition: all .3s;	
			color: #fff;
			text-decoration: underline;
		}
	}
	&__menuClose{
		position: absolute;
		top: 50px;
		right: 50px;
		font-size: 50px;
		color: #626262;
		cursor: pointer;
		&:hover{
			color: #fff;
			&:after{
				color: #fff;
			}
		}
		&:after{
			content: 'close';
			position: absolute;
			top: 100%;
			left: 0;
			font-size: 12px;
		}
	}
}
.carousel .control-dots{
	margin: 0 0 50px 0;
	.dot{
		width: 15px;
		height: 15px;
	}
}
.topLine{
	@extend .flex;
	justify-content: space-between;
	align-items: baseline;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	&__logo{
		display: block;
		padding: 20px 30px;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 30px;
	}
	&__menuBtn{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		display: block;
		color: #fff;
		padding: 10px 0;
		cursor: pointer;
	}
}




/*2. MAIN*/
/*==================================================*/




/*3. FOOTER*/
/*==================================================*/












