@import "./reset";
@import "./fonts";
@import "./settings";

/*====================================================
|					STYLE MAP  					     |
======================================================

1. HEADER
2. MAIN
3. FOOTER

==================================================*/

 





/*1. HEADER*/
/*==================================================*/
body{
	background: red;
	height: 200px;
	font-size: 30px;

}


/*2. MAIN*/
/*==================================================*/




/*3. FOOTER*/
/*==================================================*/












