@import "./reset";
@import "./fonts";
@import "./settings";
@import "./sprite";

/*====================================================
|					STYLE MAP  					     |
======================================================

1. HEADER
	topLine
2. MAIN
	block2
3. FOOTER

==================================================*/

 





/*1. HEADER*/
/*==================================================*/
.header{
	position: relative;
	.wrap{
		width: 100%;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
	}
	.container{
		padding: 50px;
	}
	&__slider{
		position: relative;
		z-index: 0;
	}
	&__mainHeader{
		position: relative;
		color: #fff;
		text-align: right;
	}
	&__h1{
		font-size: 220px;
		text-transform: uppercase;
		font-weight: 100;
		margin: 15% 0 0 0;
	}
	&__h2{
		font-size: 64px;
		font-weight: bold;
	}
	&__nav{
		position: fixed;
		z-index: 100;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.8);
		display: flex;
		transform: translateX(0%);
		transition: all 1.4s;
		transition-timing-function: ease-out;
	}
	&__menu{
		margin: auto;
	}
	&__menuLink{
		font-size: 50px;
		color: #626262;
		text-transform: uppercase;
		font-weight: bold;
		margin: 20px;
		transition: all .3s;	
		display: block;
		letter-spacing: 2px;
		&:hover{
			transition: all .3s;	
			color: #fff;
			text-decoration: underline;
		}
	}
	&__menuClose{
		position: absolute;
		top: 50px;
		right: 50px;
		font-size: 50px;
		color: #626262;
		cursor: pointer;
		&:hover{
			color: #fff;
			&:after{
				color: #fff;
			}
		}
		&:after{
			content: 'close';
			position: absolute;
			top: 100%;
			left: 0;
			font-size: 12px;
		}
	}
	.carousel .control-dots{
		margin: 0 0 50px 0;
		.dot{
			width: 15px;
			height: 15px;
		}
	}
}
.topLine{
	@extend .flex;
	justify-content: space-between;
	align-items: baseline;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	&__logo{
		display: block;
		padding: 20px 30px;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 30px;
	}
	&__menuBtn{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		display: block;
		color: #fff;
		padding: 10px 0;
		cursor: pointer;
	}
}




/*2. MAIN*/
/*==================================================*/

.block{

	&__btn{
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		border: 1px solid #000;
		border-radius: 5px;
		color: #000;
		font-size: 20px;
		word-spacing: 5px;
		padding: 24px 35px;
		margin: 60px auto;
		text-transform: uppercase;
		letter-spacing: 2px;
		transition: all .4s;	
		&:hover{
			background: #333;
			color: #fff;
			transition: all .4s;
		}
	}
	&__btnWrap{
		text-align: center;
	}
}

// block2
// ===================================================
.block2{
	&__wrap{
		text-align: center;
		padding: 90px;
	}
	&__header{
		font-weight: 100;
		font-size: 60px;
		margin: 0 0 30px 0;
		&_bold{
			font-size: 60px;
			font-weight: 800;
		}
	}
	&__firstParag{
		font-size: 20px;
		margin: 50px 0;
		line-height: 30px;
		font-weight: 600;
		&:after{
			content: '';
			display: block;
			width: 100px;
			height: 1px;
			background: #000;
			margin: 50px auto 50px auto;
		}
	}
	&__middleParag{
		font-size: 20px;
		margin: 0 0 50px 0;
		line-height: 30px;
		font-weight: 400;
	}
	&__lastParag{
		@extend .block2__middleParag;
	}
}






// block3
// ===================================================

.block3{
	background: #ffe9e2;
	&__wrap{
		@extend .flex;
		overflow: hidden;
	}
	&__left{
		transition: all 1.4s;
		padding: 30px;
		box-sizing: border-box;
		transform: translateX(-100%) rotate(45deg);
	}
	&__right{
		transition: all 1.4s;
		display: flex;
		transform: translateX(100%) rotate(-45deg);
	}
	&__item{
		width: 50%;
		box-sizing: border-box;
		&_active{
			transition: all 1.4s;
			transform: translateX(0%) rotate(0deg);
		}
	}
	&__slider{
		height: 100%;
	}
	&__author{
		text-align: left;
		font-style: italic;
		text-transform: capitalize;
		font-weight: 100;
		margin: 50px 0;
	}
	&__img{
		width: 100%;
		height: auto;
		margin: auto;
	}
	.slide{
		background: none;
		font-size: 36px;
		font-weight: 800;
		line-height: 40px;
	}
	.carousel-slider{
		display: flex;
		height: 100%;
	}
	.carousel .control-dots{
		margin: 50px 0 0 0;
		.dot{
			width: 10px;
			height: 10px;
		}
	}
}





// block4
// ===================================================

.block4{
	padding: 100px 50px;
	box-sizing: border-box;
	&__header{
		font-size: 60px;
		font-weight: 800;
		&:after{
			content: '';
			display: block;
			width: 100px;
			height: 1px;
			background: #000;
			margin: 30px 0 50px 0;
		}
	}
	&__wrap{
		overflow: hidden;
	}
	&__items{
		margin: 50px 0;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		width: 50%;
		padding: 50px;
		box-sizing: border-box;
		border: 1px solid #eae9e7;
		transition: all 1.4s;
		&_left{
			transition: all 1.4s;
			transform: scale(0);
			opacity: 0;
		}
		&_right{
			transition: all 1.4s;
			transform: scale(0);
			opacity: 0;
		}
		&_active{
			transition: all 1.4s;
			transform: scale(1);
			opacity: 1;
		}
		&_addition{
			display:none;
			transform: scale(0);
			opacity: 0;
			transition: all 1.4s;
		}
	}
	&__itemHeader{
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 800;
		margin: 0 0 40px 0;
	}
	&__itemText{
		font-size: 20px;
		line-height: 30px;
	}
	&__author{
		margin: 40px 0 0 0;	
		font-size: 20px;
		font-style: italic;
		text-transform: capitalize;
	}

}




// block5
// ===================================================
.block5{
	background: url('../img/block5/bg.jpg' );
	background-size: cover;	
	&__wrap{
		display: flex;
		padding: 30% 10%;
		text-align: center;
	}
	&__content{
		margin: auto;
	}
	&__blockquote{
		font-size: 60px;
		color: #fff;
		line-height: 80px;
		font-family: Arial;
		margin: 0 0 100px 0;
	}
	&__txt{
		color: #fff;
		font-size: 20px;
		display: inline;
		font-family: arial;
	}
	&__author{
		color: #fff;
		font-size: 20px;
		font-family: arial;
		text-decoration: underline;
		display: inline;
		text-transform: capitalize;
	}
}





// block6
// ===================================================
.block6{
	padding: 100px 0;
	background: #f2f4f5;
	&__header{
		@extend .block4__header;
	}
	&__item{
		position: relative;
		text-align: center;
		overflow: hidden;
		margin: 25px 10px;
		img{
			width: 100%;
			height: auto;
		}
		&:hover{
			box-shadow: 0 0 100px rgba(0,0,0,.42);
			.block6__links{
				transform: translateY(0);
				transition: all .7s;
			}
		}
	}
	&__poster1Item{
		width: 560px;	
	}
	&__poster2Item{
		width: 740px;
	}
	&__poster3Item{
		width: 330px;
	}
	&__poster4Item{
		width: 330px;
	}
	&__poster1Blockquote{
		color: #fff;
		font-size: 80px;
	    font-family: 'Roboto Condensed', sans-serif;
	    word-spacing: 300px;
	    font-weight: bold;
	    line-height: 100px;
	    margin: 30% 0 0 0;
	}
	&__poster2{
		&Blockquote{
			color: #000;
			font-size: 36px;
			text-align: left;
			line-height: 50px;
	    	font-family: 'Lobster', sans-serif;
	    	margin: 50px 52% 0 50px;
		}
		&Author{
			font-family: 'Raleway', sans-serif;
			font-size: 20px;
			text-align: left;
			margin: 20px 0 0 0;
		}
	}
	&__poster3Blockquote{
		color: #000;
		text-align: center;
		font-family: 'Bevan';
		font-size: 20px;
		margin: 50px;
		line-height: 30px;
		word-spacing: 10px;
		text-transform: uppercase;
	}
	&__poster4Blockquote{
		color: #fff;
		text-align: center;
		font-family: 'Lato';
		font-size: 30px;
		margin: 50% 50px 0 50px;
		line-height: 40px;
		word-spacing: 10px;
		text-transform: uppercase;
	}

	&__blockquote{
		position: absolute;
		top: 0;
		z-index: 1;
	}

	&__links{
		position: absolute;
		width: 100%;
		left: 0;
		transition: all .7s;
		bottom: 0;
		padding: 20px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		transform: translateY(100%);
		z-index: 100;
	}
	&__link{
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		text-shadow: 1px 1px 1px #000;
		&:hover{
			color: #000;
			text-shadow: -1px -1px 1px #fff;
		}

	}
	&__btnWrap{
		width: 100%;
	}
}






/*3. FOOTER*/
/*==================================================*/












