@import "./style";

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/


}



















/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


/*1. HEADER*/
/*==================================================*/

body{
	background: red;
}




/*2. MAIN*/
/*==================================================*/
.main{









/*experience*/
/*==================================================*/
.experience{
	&__jobWrap{
		width: (100% / 3);
		font-size: 14px;
		text-align: center;	
		padding: 10px;
	}
	&__item{
		padding: 20px 0;
		border-radius: 10px;
	}
	&__job{
		text-transform: uppercase;
		font-weight: bold;
	}
	&__workPlace{
	}
	&__timeAmount{
		border-radius: 10px;
		padding: 3px 5px;
		position: relative;
	}
	&__button{
		border-radius: 3px;
	}
	&__additionBlock{
		line-height: 15px;
		padding: 10px;
		display: none;
	}
}






} /*main*/




/*3. FOOTER*/
/*==================================================*/


}
















/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


/*1. HEADER*/
/*==================================================*/
.header{

	.topLine{
		&__wrap{
			width: 85%;
			position: relative;
			&_right{
				width: 15%;
			}
		}
		&__socMenu{
			text-align: right;
			position: absolute;
			right: 15px;
			top: -20px;
		}
		&__socItem{
			display: block;
			vertical-align: middle;
			display: none;
			&_hide{
				display: block;
			}
		}
		&__socLink{
			padding: 7px 5px;
		}
	}
}




/*==========================================*/
/*slider*/
/*==========================================*/
.slider{
	position: relative;
	&__contentWrapper{
		position: absolute;
		top:0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		height: 200px;
	}
	&__header{
		font-size: 30px;
		padding: 5px 25px;
	}
	&__circleWrap{
		padding: 10px;
		border-radius: 50%;
		margin: 30px 0 0 0;
	}
	&__circle{
		border-radius: 50%;
		width: 70px;
		height: 70px;
	}
	&__circleFa{
		line-height: 70px !important;
		font-size: 40px !important;
	}
}








/*2. MAIN*/
/*==================================================*/

.main{


/*aboutMe*/
/*==================================================*/
.aboutMe{
	&__mailMe{
		width: 30px;
		height: 30px;
		font-size: 16px !important;
		bottom: 20px;
		right: 20px;
		line-height: 20px !important;
	}
	&__infoWrap{
		flex-basis: 100%;
		margin: 0 10px;
	}
	&__imgWrap{
		padding: 7px;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		width: 160px;
		&Doble{
			width: 140px;
		}
	}
	&__textWrap{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 30px;
	}
	&__name{
		font-size: 20px;
		padding: 0 0 10px 0;
		margin: 10px 0;
	}
	&__socWrap{
		margin: 10px 0;
		padding: 0 0 10px 0;
	}
	&__socLink{
		display: block;
		margin: 5px;
		text-align: center;
		line-height: 30px !important;
		width: 30px;
		height: 30px;
	}
	&__infoItem{
		padding: 5px 0;
	}
	&__skills{
		flex-basis: 100%;
		text-align: center;
		margin: 0px;
	}
	&__skillsHeader{
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 2px;
		text-align: center;
		margin: 20px 0;
	}
	&__skillsControl{
		font-size: 0;
	}
	&__skillsControlItem{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: (100%/4);
		position: relative;
	}
	&__skillsButton{
		box-sizing: border-box;
		font-size: 14px;
		text-transform: uppercase;
		padding: 10px 0;
		background: none;
		border: none;
		display: inline-block;
		width: 100%;
		cursor: pointer;
	}
	&__skillsItems{
		margin: 20px 0 0 0;
	}
	&__skillsItem{
		display: inline-block;
		padding: 10px;
		margin: 5px;
		width: 50px;
		background: #fff;
	}
	&__skillsImg{
		width: 100%;
	}
	.flex{
		flex-wrap: wrap;
	}
	
}





















/*experience*/
/*==================================================*/
.experience{
	&__jobWrap{
		width: (100% / 2);
		font-size: 14px;
		text-align: center;	
		padding: 10px;
	}
	&__item{
		padding: 20px 0;
		border-radius: 10px;
	}
	&__job{
		text-transform: uppercase;
		font-weight: bold;
	}
	&__timeAmount{
		border-radius: 10px;
		padding: 3px 5px;
		position: relative;
	}
	&__button{
		border-radius: 3px;
		padding: 5px 10px;
	}
	&__additionBlock{
		line-height: 15px;
		padding: 10px;
		display: none;
	}
}







/*portfolio*/
/*==================================================*/

.portfolio{

	&__wrapItem{
		width: (100% / 2);
	}
	&__controlItem{
		margin: 0px;
	}
	&__controlLink{
		display: block;
		color: $myGray;
		text-transform: capitalize;
		transition: all .3s;
		font-size: 12px;
		background: none;
		border: none;
		cursor: pointer;
		&:hover{
			transition: all .3s;
			color: $myDark;
			text-decoration: underline;
		}
	}
}


}/*main*/





/*3. FOOTER*/
/*==================================================*/
.footer{
	.flex{
		flex-wrap: wrap !important;
	}
	padding: 30px 0 40px 0;
	&__item{
		font-size: 14px;
		&_links{
			width: 100% !important;
			order: 3;
			margin: 20px 0 0 0;

		}
		&_soc{
			width: 70% !important;
			order: 1;
			text-align: left !important;
		}
		&_nav{
			width: 30% !important;
			order: 2;

		}
	}
	&__list{
		display: block;
		&_soc{
			display: inline-block;
			vertical-align: top;
			width: 25px !important;
			margin: 0 3px;
			text-align: center;
		}
		&_links{
			display: inline-block;
			vertical-align: top;
			width: 30px;
			margin: 0 5px 5px 0;
		}
	}
	&__link{
		display: inline-block;
		width: 80px;
		margin: 7px;
		&_soc{
			display: block;
			border-radius: 50%;
			width: 100%;
			height: 25px;
			.fa{
				float: none;
				line-height: 25px !important;
			}
		}
		&_links{
			width: 100%;
			padding: 5px;
		}
	}
	&__linksImg{
		width: 100%;
	}
}














}















/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/
.main{
.section{
	padding: 30px 0 40px 0;
	&__header{
		font-size: 20px;
		letter-spacing: 2px;
		padding: 0 0 10px 0;
		margin: 0 0 20px 0;
	}
}




/*aboutMe*/
/*==================================================*/
.aboutMe{
	&__infoWrap{
		flex-basis: 100%;
		margin: 0 30px;
	}
	&__imgWrap{
		padding: 7px;
		margin: 0;
		display: inline-block;
		width: 200px;
		&Doble{
			width: 180px;
		}
	}
	&__textWrap{
		display: inline-block;
		margin: 10px 0;
		width: 100%;
	}
	&__name{
		font-size: 20px;
		padding: 0 0 10px 0;
		margin: 10px 0;
	}
	&__socWrap{
		margin: 10px 0;
		padding: 0 0 10px 0;
	}
	&__socLink{
		display: block;
		margin: 5px;
		text-align: center;
		line-height: 30px !important;
		width: 30px;
		height: 30px;
	}
	&__infoItem{
		padding: 5px 0;
	}
	&__skills{
		flex-basis: 100%;
		text-align: center;
		margin: 20px 0 0 0px;
	}
	&__skillsHeader{
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 2px;
		text-align: center;
		margin: 0 0 20px 0;
	}
	&__skillsControl{
		font-size: 0;
	}
	&__skillsControlItem{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: (100%/4);
		position: relative;
	}
	&__skillsButton{
		font-size: 12px;
		text-transform: uppercase;
		padding: 15px 0;
		background: none;
		border: none;
		display: inline-block;
		width: 100%;
		cursor: pointer;
	}

	&__skillsItems{
		margin: 20px 0 0 0;
	}
	&__skillsItem{
		display: inline-block;
		padding: 10px;
		margin: 5px;
		width: 50px;
		background: #fff;
	}
	&__skillsImg{
		width: 100%;
	}
	.flex{
		flex-wrap: wrap;
	}
	
}









/*experience*/
/*==================================================*/
.experience{
	&__jobWrap{
		width: 100%;
		font-size: 14px;
		text-align: center;	
		padding: 10px;
	}
	&__item{
		padding: 20px 0;
		border-radius: 10px;
	}
	&__job{
		text-transform: uppercase;
		font-weight: bold;
	}
	&__workPlace{
	}
	&__timeAmount{
		border-radius: 10px;
		padding: 3px 5px;
		position: relative;
	}
	&__button{
		border-radius: 3px;
	}
	&__additionBlock{
		line-height: 15px;
		padding: 10px;
		display: none;
	}
}








/*portfolio*/
/*==================================================*/

.portfolio{
	&__wrapItem{
		width: 100%;
	}
}











} /*main*/






/*3. FOOTER*/
/*==================================================*/



}
















/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}















/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



/*1. HEADER*/
/*==================================================*/
.header{
	.topLine{
		&__socItem:not(.topLine__socItem_hide){
			display: inline-block !important;
		}
	}
}





/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}









/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}













 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}