@import './style';
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/


}



















/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


/*1. HEADER*/
/*==================================================*/
.header{
	.container{
		padding: 50px;
	}
	&__h1{
		font-size: 150px;
		margin: 15% 0 0 0;
	}
	&__h2{
		font-size: 38px;
	}
}
.carousel .control-dots{
	margin: 0 0 50px 0;
	.dot{
		width: 15px;
		height: 15px;
	}
}
.topLine{
	&__logo{
		padding: 20px 30px;
		font-size: 30px;
	}
	&__menuBtn{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		padding: 10px 0;
	}
}













/*2. MAIN*/
/*==================================================*/

// block3
/*==================================================*/
.block3{
	&__wrap{
		flex-wrap: wrap;
	}
	&__item{
		width: 100%;
	}
	&__left{
		padding: 50px;
	}
	&__author{
		margin: 50px 0;
	}
	.slide{
		font-size: 36px;
		line-height: 40px;
	}
}







// block4
// ===================================================

.block4{
	padding: 100px 50px;
	&__header{
		font-size: 60px;
	}
	&__items{
		margin: 50px 0;
	}
	&__item{
		width: 100%;
		padding: 50px;
	}
	&__itemHeader{
		font-size: 30px;
		margin: 0 0 40px 0;
	}
	&__itemText{
		font-size: 20px;
		line-height: 30px;
	}
	&__author{
		margin: 40px 0 0 0;	
		font-size: 20px;
	}

}







// block5
// ===================================================
.block5{
	&__wrap{
		padding: 30% 10%;
	}
	&__blockquote{
		font-size: 40px;
		line-height: 50px;
		margin: 0 0 80px 0;
	}
	&__txt{
		font-size: 20px;
	}
}





/*3. FOOTER*/
/*==================================================*/

.footer{
	&__wrapper{
		margin: 80px 0 0 0;
		flex-wrap: wrap;
	}
	&__element{
		flex: 1 3 50%;
		margin: 0 0 30px 0;
	}
	&__header{
		font-size: 20px;
		margin: 0 0 40px 0;
	}
	&__listItem{
		font-size: 16px;
		letter-spacing: 2.5px;
		margin: 5px;
		line-height: 20px;
		padding: 0px 30px 20px 0;	
	}
	&__link{
		font-size: 16px;
		letter-spacing: 2.5px;
		line-height: 20px;	
	}
	&__input{
		width: 100%;
		height: 40px;
		text-indent: 20px;
	}
	&__bottomLine{
		padding: 25px 0;
		margin: 50px 0 0 0;
	}
	&__bottomLineWrap{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__copyright{
		font-size: 16px;
		letter-spacing: 2.5px;
		flex-basis: 100%;
		text-align: center;
		margin: 30px 0 0px 0;
		order: 2;
	}
	&__socList{
		flex-basis: 100%;
		justify-content: center;
		order: 1;
	}
	&__socItem{
		display: block;
		padding: 5px;
		margin: 0 10px;
	}
}


}
















/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


/*1. HEADER*/
/*==================================================*/
.header{
	.container{
		padding: 30px;
	}
	&__h1{
		font-size: 100px;
		margin: 12% 0 0 0;
	}
	&__h2{
		font-size: 25px;
	}
	&__menuLink{
		font-size: 30px;
		margin: 20px;
		letter-spacing: 2px;
	}
	&__menuClose{
		top: 50px;
		right: 50px;
		font-size: 50px;
	}
}
.carousel .control-dots{
	margin: 0 0 30px 0;
	.dot{
		width: 10px;
		height: 10px;
	}
}
.topLine{
	&__logo{
		padding: 15px 20px;
		font-size: 20px;
	}
	&__menuBtn{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		padding: 10px 0;
	}
}











/*2. MAIN*/
/*==================================================*/




// block2
// ===================================================
.block2{
	&__wrap{
		padding: 40px;
	}
	&__header{
		font-size: 40px;
		margin: 0 0 30px 0;
		&_bold{
			font-size: 40px;
		}
	}
	&__firstParag{
		font-size: 18px;
		margin: 50px 0;
		line-height: 30px;
		&:after{
			width: 100px;
			margin: 40px auto 40px auto;
		}
	}
	&__middleParag{
		font-size: 18px;
		margin: 0 0 50px 0;
		line-height: 30px;
	}
}



// block3
/*==================================================*/
.block3{
	&__left{
		padding: 50px;
	}
	&__author{
		margin: 50px 0;
	}
	.slide{
		font-size: 25px;
		line-height: 30px;
	}
}






// block4
// ===================================================

.block4{
	padding: 50px 30px;
	&__header{
		font-size: 36px;
	}
	&__items{
		margin: 50px 0;
	}
	&__item{
		padding: 30px;
	}
	&__itemHeader{
		font-size: 22px;
		margin: 0 0 30px 0;
	}
	&__itemText{
		font-size: 16px;
		line-height: 22px;
	}
	&__author{
		margin: 30px 0 0 0;	
		font-size: 16px;
	}

}






// block5
// ===================================================
.block5{
	&__wrap{
		padding: 30% 10%;
	}
	&__blockquote{
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 60px 0;
	}
	&__txt{
		font-size: 18px;
	}
}




// block6
// ===================================================
.block6{
	padding: 70px 0;
	&__item{
		margin: 5px;
		img{
			width: 100%;
			height: auto;
		}
		&:hover{
			box-shadow: 0 0 30px rgba(0,0,0,.42);
		}
	}
	&__poster1Item{
		width: 240px;	
	}
	&__poster2Item{
		width: 340px;
	}
	&__poster3Item{
		width: 200px;
	}
	&__poster4Item{
		width: 200px;
	}
	&__poster1Blockquote{
		font-size: 40px;
	    word-spacing: 100px;
	    line-height: 50px;
	    margin: 30% 0 0 0;
	}
	&__poster2{
		&Blockquote{
			font-size: 20px;
			line-height: 30px;
	    	margin: 20px 52% 0 20px;
		}
		&Author{
			font-size: 16px;
			margin: 20px 0 0 0;
		}
	}
	&__poster3Blockquote{
		font-size: 16px;
		margin: 20px;
		line-height: 25px;
		word-spacing: 10px;
	}
	&__poster4Blockquote{
		font-size: 20px;
		margin: 50% 20px 0 20px;
		line-height: 30px;
		word-spacing: 10px;
	}

	&__links{
		padding: 5px;
	}
	&__link{
		font-size: 14px;
	}
}







/*3. FOOTER*/
/*==================================================*/

.footer{
	&__wrapper{
		margin: 60px 0 0 0;
		flex-wrap: wrap;
	}
	&__element{
		flex: 1 1 100%;
		margin: 0 0 30px 0;
	}
	&__header{
		font-size: 20px;
		margin: 0 0 40px 0;
	}
	&__listItem{
		font-size: 16px;
		letter-spacing: 2.5px;
		margin: 5px;
		line-height: 20px;
		padding: 0px 30px 20px 0;	
	}
	&__link{
		font-size: 16px;
		letter-spacing: 2.5px;
		line-height: 20px;	
	}
	&__input{
		width: 100%;
		height: 40px;
		text-indent: 20px;
	}
	&__bottomLine{
		padding: 25px 0;
		margin: 50px 0 0 0;
	}
	&__copyright{
		font-size: 16px;
		letter-spacing: 2.5px;
		flex-basis: 100%;
		line-height: 20px;
		text-align: center;
		margin: 30px 0 0px 0;
		order: 2;
	}
	&__socList{
		flex-basis: 100%;
		justify-content: center;
		order: 1;
	}
	&__socItem{
		display: block;
		padding: 5px;
		margin: 0 10px;
	}
}









}















/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


/*1. HEADER*/
/*==================================================*/
.header{
	.container{
		padding: 20px;
	}
	&__h1{
		font-size: 60px;
		margin: 10% 0 0 0;
	}
	&__h2{
		font-size: 20px;
	}
	

}
.carousel .control-dots{
	margin: 0 0 20px 0;
	.dot{
		width: 10px;
		height: 10px;
	}
}
.topLine{
	&__logo{
		padding: 10px 15px;
		font-size: 14px;
	}
	&__menuBtn{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 5px 0;
	}
}






/*2. MAIN*/
/*==================================================*/


// block2
// ===================================================
.block{
	&__btn{
		font-size: 16px;
		padding: 16px 25px;
		margin: 40px auto;
	}
}

// block2
// ===================================================
.block2{
	&__wrap{
		padding: 20px;
	}
	&__header{
		font-size: 25px;
		margin: 0 0 20px 0;
		&_bold{
			font-size: 25px;
		}
	}
	&__firstParag{
		font-size: 14px;
		margin: 30px 0;
		line-height: 25px;
		&:after{
			width: 100px;
			margin: 30px auto 30px auto;
		}
	}
	&__middleParag{
		font-size: 14px;
		margin: 0 0 30px 0;
		line-height: 25px;
	}
}



// block3
/*==================================================*/
.block3{
	&__left{
		padding: 30px;
	}
	&__author{
		margin: 30px 0;
	}
	.slide{
		font-size: 20px;
		line-height: 25px;
	}
}






// block4
// ===================================================

.block4{
	padding: 30px 0px;
	&__header{
		font-size: 26px;
		margin: 0 0 0 20px;
	}
	&__items{
		margin: 30px 0;
	}
	&__item{
		padding: 20px;
	}
	&__itemHeader{
		font-size: 20px;
		margin: 0 0 30px 0;
	}
	&__itemText{
		font-size: 14px;
		line-height: 22px;
	}
	&__author{
		margin: 30px 0 0 0;	
		font-size: 14px;
	}

}







// block5
// ===================================================
.block5{
	&__wrap{
		padding: 30% 10%;
	}
	&__blockquote{
		font-size: 25px;
		line-height: 30px;
		margin: 0 0 40px 0;
	}
	&__txt{
		font-size: 16px;
	}
}



// block6
// ===================================================
.block6{
	padding: 30px 0;
	&__item{
		margin: 5px;
		img{
			width: 100%;
			height: auto;
		}
		&:hover{
			box-shadow: 0 0 30px rgba(0,0,0,.42);
		}
	}
	&__poster1Item{
		width: 200px;	
	}
	&__poster2Item{
		width: 300px;
	}
	&__poster3Item{
		width: 160px;
	}
	&__poster4Item{
		width: 160px;
	}
	&__poster1Blockquote{
		font-size: 40px;
	    word-spacing: 100px;
	    line-height: 50px;
	    margin: 30% 0 0 0;
	}
	&__poster2{
		&Blockquote{
			font-size: 20px;
			line-height: 30px;
	    	margin: 20px 52% 0 20px;
		}
		&Author{
			font-size: 16px;
			margin: 5px 0 0 0;
		}
	}
	&__poster3Blockquote{
		font-size: 16px;
		margin: 10px;
		line-height: 20px;
		word-spacing: 10px;
	}
	&__poster4Blockquote{
		font-size: 20px;
		margin: 50% 20px 0 20px;
		line-height: 30px;
		word-spacing: 10px;
	}

	&__links{
		padding: 5px;
	}
	&__link{
		font-size: 14px;
	}
}










/*3. FOOTER*/
/*==================================================*/







}
















/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}















/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



/*1. HEADER*/
/*==================================================*/





/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}









/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}













 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}