@import './style';
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/


}



















/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


/*1. HEADER*/
/*==================================================*/
.header{
	.container{
		padding: 50px;
	}
	&__h1{
		font-size: 150px;
		margin: 15% 0 0 0;
	}
	&__h2{
		font-size: 38px;
	}
}
.carousel .control-dots{
	margin: 0 0 50px 0;
	.dot{
		width: 15px;
		height: 15px;
	}
}
.topLine{
	&__logo{
		padding: 20px 30px;
		font-size: 30px;
	}
	&__menuBtn{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		padding: 10px 0;
	}
}













/*2. MAIN*/
/*==================================================*/

// block3
/*==================================================*/
.block3{
	&__wrap{
		flex-wrap: wrap;
	}
	&__item{
		width: 100%;
	}
	&__left{
		padding: 50px;
	}
	&__author{
		margin: 50px 0;
	}
	.slide{
		font-size: 36px;
		line-height: 40px;
	}
}







// block4
// ===================================================

.block4{
	padding: 100px 50px;
	&__header{
		font-size: 60px;
	}
	&__items{
		margin: 50px 0;
	}
	&__item{
		width: 100%;
		padding: 50px;
	}
	&__itemHeader{
		font-size: 30px;
		margin: 0 0 40px 0;
	}
	&__itemText{
		font-size: 20px;
		line-height: 30px;
	}
	&__author{
		margin: 40px 0 0 0;	
		font-size: 20px;
	}

}








/*3. FOOTER*/
/*==================================================*/


}
















/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


/*1. HEADER*/
/*==================================================*/
.header{
	.container{
		padding: 30px;
	}
	&__h1{
		font-size: 100px;
		margin: 12% 0 0 0;
	}
	&__h2{
		font-size: 25px;
	}
	&__menuLink{
		font-size: 30px;
		margin: 20px;
		letter-spacing: 2px;
	}
	&__menuClose{
		top: 50px;
		right: 50px;
		font-size: 50px;
	}
}
.carousel .control-dots{
	margin: 0 0 30px 0;
	.dot{
		width: 10px;
		height: 10px;
	}
}
.topLine{
	&__logo{
		padding: 15px 20px;
		font-size: 20px;
	}
	&__menuBtn{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		padding: 10px 0;
	}
}











/*2. MAIN*/
/*==================================================*/




// block2
// ===================================================
.block2{
	&__wrap{
		padding: 40px;
	}
	&__header{
		font-size: 40px;
		margin: 0 0 30px 0;
		&_bold{
			font-size: 40px;
		}
	}
	&__firstParag{
		font-size: 18px;
		margin: 50px 0;
		line-height: 30px;
		&:after{
			width: 100px;
			margin: 40px auto 40px auto;
		}
	}
	&__middleParag{
		font-size: 18px;
		margin: 0 0 50px 0;
		line-height: 30px;
	}
}



// block3
/*==================================================*/
.block3{
	&__left{
		padding: 50px;
	}
	&__author{
		margin: 50px 0;
	}
	.slide{
		font-size: 25px;
		line-height: 30px;
	}
}






// block4
// ===================================================

.block4{
	padding: 50px 30px;
	&__header{
		font-size: 36px;
	}
	&__items{
		margin: 50px 0;
	}
	&__item{
		padding: 30px;
	}
	&__itemHeader{
		font-size: 22px;
		margin: 0 0 30px 0;
	}
	&__itemText{
		font-size: 16px;
		line-height: 22px;
	}
	&__author{
		margin: 30px 0 0 0;	
		font-size: 16px;
	}

}






/*3. FOOTER*/
/*==================================================*/









}















/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


/*1. HEADER*/
/*==================================================*/
.header{
	.container{
		padding: 20px;
	}
	&__h1{
		font-size: 60px;
		margin: 10% 0 0 0;
	}
	&__h2{
		font-size: 20px;
	}
	

}
.carousel .control-dots{
	margin: 0 0 20px 0;
	.dot{
		width: 10px;
		height: 10px;
	}
}
.topLine{
	&__logo{
		padding: 10px 15px;
		font-size: 14px;
	}
	&__menuBtn{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 5px 0;
	}
}






/*2. MAIN*/
/*==================================================*/


// block2
// ===================================================
.block{
	&__btn{
		font-size: 16px;
		padding: 16px 25px;
		margin: 40px auto;
	}
}

// block2
// ===================================================
.block2{
	&__wrap{
		padding: 20px;
	}
	&__header{
		font-size: 25px;
		margin: 0 0 20px 0;
		&_bold{
			font-size: 25px;
		}
	}
	&__firstParag{
		font-size: 14px;
		margin: 30px 0;
		line-height: 25px;
		&:after{
			width: 100px;
			margin: 30px auto 30px auto;
		}
	}
	&__middleParag{
		font-size: 14px;
		margin: 0 0 30px 0;
		line-height: 25px;
	}
}



// block3
/*==================================================*/
.block3{
	&__left{
		padding: 30px;
	}
	&__author{
		margin: 30px 0;
	}
	.slide{
		font-size: 20px;
		line-height: 25px;
	}
}






// block4
// ===================================================

.block4{
	padding: 30px 0px;
	&__header{
		font-size: 26px;
		margin: 0 0 0 20px;
	}
	&__items{
		margin: 30px 0;
	}
	&__item{
		padding: 20px;
	}
	&__itemHeader{
		font-size: 20px;
		margin: 0 0 30px 0;
	}
	&__itemText{
		font-size: 14px;
		line-height: 22px;
	}
	&__author{
		margin: 30px 0 0 0;	
		font-size: 14px;
	}

}





/*3. FOOTER*/
/*==================================================*/







}
















/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}















/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



/*1. HEADER*/
/*==================================================*/





/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}









/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}













 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}